In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Fraud_check.csv')
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
for i in df['Taxable.Income']:
    if i <= 30000:
        


df['cat'] = df[df['Taxable.Income']]>30000

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2508495495.py, line 1)